<div class="container-fluid p-5 bg-primary text-white text-center">
    <nav>
        <a class="text-white text-center" href="/">Bug Tracker</a>
        <ul>
            <a class="text-white text-center" href="/new">New Bug</a>
           <!-- <li> </li>-->
        </ul>
    </nav>
</div>






    <!--<header>
    <nav>
        <a href="/">Bug Tracker Home</a>
        <ul>
            <li> <a href="/new">New Bug</a></li>
        </ul>
    </nav>
</header>-->
