<header>
    <nav>
        <a href="/">Bug Tracker Home</a>
        <ul>
           <!-- <li> <a href="/bugs">All Bugs</a></li>-->
           <!-- <li> <a href="bugs/new">New Bug</a></li>-->
            <li> <a href="/new">New Bug</a></li>
        </ul>
    </nav>
</header>