<table id="bugTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% bugs.forEach(bug => { %>
        <tr>
            <td><a href="/<%= bug.id %>"><%= bug.name %></a></td>
        </tr>
        <% }); %>
    </tbody>
</table>