<h2><%= bug.title %></h2>
<p><%= bug.description %></p>
<a href="/<%= bug.id %>/edit">Edit</a>
<form method="POST" action="/<%= bug.id %>?_method=DELETE">
    <button type="submit">Delete</button>
</form>
