<h2>New Bug</h2>
<form action="/" method="POST">
    <label>Name</label>
    <input type="text" name="name" value="<%= bug.name %>">
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
</form>