<h2>New Bug</h2>
<form action="/bugs" method="POST">
    <%- include('_form_fields') %>
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
</form>



<!-- This works, save it.
<h2>New Bug</h2>
<form action="/bugs" method="POST">
    <%- //include('_form_fields') %>
    <a href="/bugs">Cancel</a>
    <button type="submit">Create</button>
</form>
-->